:root {
	/* Primary Colors */
	--clr-primary-500: hsl(263, 55%, 52%);
	--clr-primary-300: hsl(264, 82%, 80%);
	--clr-primary-50: hsl(260, 100%, 95%);

	/* Neutral Colors */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(214, 17%, 92%);
	--clr-neutral-300: hsl(0, 0%, 81%);
	--clr-neutral-400: hsl(224, 10%, 45%);
	--clr-neutral-500: hsl(217, 19%, 35%);
	--clr-neutral-900: hsl(219, 29%, 14%);
	--clr-neutral-950: hsl(0, 0%, 7%);

	/* Typography */
	--ff-base: 'Barlow Semi Condensed', sans-serif;
	--fw-regular: 500;
	--fw-semibold: 600;
	--fs-body: 13px;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* General Styling */

body {
	padding: 4rem 2rem;
	background-color: var(--clr-neutral-200);
}

section {
	display: grid;
	gap: 2rem;
}

@media (min-width: 770px) {
	body {
		padding: 5rem 4rem;
	}

	section {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.testimonials__card:nth-of-type(1) {
		grid-column-start: 1;
		grid-column-end: 3;

		background-image: url('images/bg-pattern-quotation.svg');
		background-repeat: no-repeat;
		background-position: right 30% top 0%;
		background-size: auto; /* Adjust as needed */
	}

	.testimonials__card:nth-of-type(2) {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.testimonials__card:nth-of-type(3) {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.testimonials__card:nth-of-type(4) {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.testimonials__card:nth-of-type(5) {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

@media (min-width: 1440px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 14rem 11rem;
	}

	section {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.testimonials__card:nth-of-type(1) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;

		background-position: right 15% top 0%;
	}

	.testimonials__card:nth-of-type(2) {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
	}

	.testimonials__card:nth-of-type(3) {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.testimonials__card:nth-of-type(4) {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
	}

	.testimonials__card:nth-of-type(5) {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 3;
	}
}

.testimonials__card {
	border-radius: 0.5rem;
	padding: 1.85rem 2rem 2rem 2rem;
	font-family: var(--ff-base);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.testimonials__card:nth-of-type(1) {
	background-color: var(--clr-primary-500);
}

.testimonials__card:nth-of-type(2) {
	background-color: var(--clr-neutral-500);
}

.testimonials__card:nth-of-type(3) {
	background-color: var(--clr-neutral-100);
}

.testimonials__card:nth-of-type(4) {
	background-color: var(--clr-neutral-900);
}

.testimonials__card:nth-of-type(5) {
	background-color: var(--clr-neutral-100);
}

.testimonials__card-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.6rem;
}

img {
	border-radius: 15rem;
	height: 1.9rem;
	margin-right: 1rem;
}

.testimonials__card:nth-of-type(1) img {
	border: 0.125rem solid var(--clr-primary-300);
}

.testimonials__card:nth-of-type(4) img {
	border: 0.125rem solid var(--clr-primary-300);
}

.testimonials__card:nth-of-type(1) .testimonials__user {
	font-size: var(--fs-body);
	font-weight: 400;
}

.testimonials__card:nth-of-type(1) .testimonials__title {
	font-size: 0.7rem;
	font-weight: 300;
}

.testimonials__card:nth-of-type(2) .testimonials__user {
	font-size: var(--fs-body);
	font-weight: 400;
}

.testimonials__card:nth-of-type(2) .testimonials__title {
	font-size: 0.7rem;
	font-weight: 300;
	color: var(--clr-neutral-300);
}

.testimonials__card:nth-of-type(3) .testimonials__user {
	font-size: var(--fs-body);
	font-weight: 500;
	color: var(--clr-neutral-500);
}

.testimonials__card:nth-of-type(3) .testimonials__title {
	font-size: 0.7rem;
	font-weight: 400;
	color: var(--clr-neutral-500);
}

.testimonials__card:nth-of-type(4) .testimonials__user {
	font-size: var(--fs-body);
	font-weight: 500;
	color: var(--clr-neutral-100);
}

.testimonials__card:nth-of-type(4) .testimonials__title {
	font-size: 0.7rem;
	font-weight: 400;
	color: var(--clr-neutral-100);
}

.testimonials__card:nth-of-type(5) .testimonials__user {
	font-size: var(--fs-body);
	font-weight: 500;
	color: var(--clr-neutral-500);
}

.testimonials__card:nth-of-type(5) .testimonials__title {
	font-size: 0.7rem;
	font-weight: 400;
	color: var(--clr-neutral-400);
}

/* Daniel Clifford */
.testimonials__card:nth-of-type(1) .testimonials__profile {
	color: var(--clr-neutral-100);
}

/* Jonathan Walters */
.testimonials__card:nth-of-type(2) .testimonials__profile {
	color: var(--clr-neutral-100);
}

/* Jeanette Harmon */
.testimonials__card:nth-of-type(3) .testimonials__profile {
}

/* Patrick Abrams */
.testimonials__card:nth-of-type(4) .testimonials__profile {
}

/* Kira Whittle */
.testimonials__card:nth-of-type(5) .testimonials__profile {
}

.testimonials__card:nth-of-type(1) .testimonials__quote {
	color: var(--clr-neutral-100);
	margin: 0.9rem 1rem 0.9rem 0rem;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.4rem;
}

.testimonials__card:nth-of-type(1) .testimonials__quote--secondary {
	color: var(--clr-neutral-100);
	font-size: 0.85rem;
}

.testimonials__card:nth-of-type(2) .testimonials__quote {
	color: var(--clr-neutral-100);
	margin: 0.9rem 1rem 0.9rem 0rem;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.4rem;
}

.testimonials__card:nth-of-type(2) .testimonials__quote--secondary {
	color: var(--clr-neutral-100);
	font-size: 0.85rem;
	font-weight: 300;
}

.testimonials__card:nth-of-type(3) .testimonials__quote {
	margin: 0.9rem 1rem 0.9rem 0rem;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.4rem;
	color: var(--clr-neutral-500);
}

.testimonials__card:nth-of-type(3) .testimonials__quote--secondary {
	font-size: 0.85rem;
	color: var(--clr-neutral-500);
	font-weight: 400;
}

.testimonials__card:nth-of-type(4) .testimonials__quote {
	margin: 0.9rem 1rem 0.9rem 0rem;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.4rem;
	color: var(--clr-neutral-100);
}

.testimonials__card:nth-of-type(4) .testimonials__quote--secondary {
	font-size: 0.85rem;
	color: var(--clr-neutral-100);
	font-weight: 300;
}

.testimonials__card:nth-of-type(5) .testimonials__quote {
	margin: 0.9rem 1rem 0.9rem 0rem;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.4rem;
	color: var(--clr-neutral-500);
}

.testimonials__card:nth-of-type(5) .testimonials__quote--secondary {
	font-size: 0.85rem;
	color: var(--clr-neutral-400);
	font-weight: 500;
}
